body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
html {
	scroll-behavior: smooth;
}
/* src/App.css or src/index.css */
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-image: url("assets/bg.jpg");
	background-size: cover; /* Make sure the image covers the entire page */
	background-position: center;
	font-family: Arial, sans-serif;
}

#root {
	height: 100%;
}

/* Optional: Apply background image to all sections */
section {
	background: inherit;
	background-size: inherit;
	background-position: inherit;
}
